{% extends "base.html" %}

{% block head %}
    {{ block.super }}
    <style>
        #items .item {
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            background: linear-gradient(to bottom, #F6F6F6 0%, #EAEAEA 100%) repeat scroll 0 0 transparent;
            border-radius: 4px 4px 4px 4px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 1px rgba(0, 0, 0, 0.1), 0 3px 1px rgba(0, 0, 0, 0.05);
            text-shadow: 0 1px 0 #DDDDDD;
            width: 270px;
            margin: 10px;
            float: left;
        }
    </style>
{% endblock %}
{% block content %}
    <div id="items" class="js-masonry"
         data-masonry-options='{ "columnWidth": 290, "itemSelector": ".item" }'>
        {% include "board/pins_page.html" %}
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script src="{{ STATIC_URL }}js/masonry.pkgd.min.js"></script>
    <script src="{{ STATIC_URL }}js/imagesloaded.pkgd.min.js"></script>
    <script>

        var $container = $('#items');

        $container.imagesLoaded(function(){
        $container.masonry({
            itemSelector : '.item',
              columnWidth : 290,
              //isAnimated: true
          });
        });

        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollChunkSize: 10,
            onCompleted: function() {
                $container.imagesLoaded(function(){
                    var masonry = $container.data('masonry');
                    if (masonry !== undefined) {
                        masonry.reloadItems();
                        masonry.layout();
                    }
                });
            }
        });
    </script>
{% endblock %}