{% load endless %}
{% paginate pin_list %}
{% for pin in pin_list %}
    <div class="item">
        <div class="picture">
          <a class="image" href="{{ pin.url }}">
          <img width=250 alt="" src="{{ pin.img_url }}">
        </a>
        <div class="item-content">
          <div class="description">
            {{ pin.text|striptags }}
          </div>
          <div class="meta">
            <span>
              <i class="icon-calendar"></i>
              {{ pin.published_at }}
            </span>
          </div>
        </div>
      </div>
    </div>
{% endfor %}
{% show_more %}